.photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.pic1 {
  width: 600px;
  height: 400px;
}

.pic {
  width: 600px;
  height: 400px;
}
